<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chunma.amdm">

    <!--
        <uses-feature android:name="android.hardware.nfc" android:required="true"/>

        <uses-permission android:name="android.permission.NFC" />
        <uses-permission android:name="android.permission.INTERNET"/>
    -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <service
            android:name=".TurnOnPackage.LockService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginMainActivity" />
        <activity
            android:name=".login.LoginActivity"
            android:noHistory="true" />
        <activity android:name=".MainActivity" />
        <activity android:name=".TurnOnPackage.TurnOnActivity"/>

        <receiver
            android:name=".TurnOnPackage.TurnOnReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>
    </application>

</manifest>